{% extends 'base.html' %}
{% load static %}
{% block body %}
    <style type="text/css">
        .background {
            display: block;
            height: 100%;
            width: 100%;
            opacity: 0.7;
            filter: alpha(opacity=70);
            background: white no-repeat;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 1000;
        }

        .loading-img {
            display: block;
            width: 100px;
            height: 100px;
            position: fixed;
            top: 40%;
            left: 50%;
            z-index: 2001;
        }

        .txt {
            display: block;
            position: fixed;
            top: 50%;
            left: 48%;
            line-height: 27px;
            font-weight: bold;
            z-index: 2000;
        }
    </style>
    <div id="background" class="background" style="display: none;"></div>
    <div id="loading" class="loading-img" style="display: none;"><img src="{% static 'images/44.gif' %}" alt="loading" ></div>
    <div id="intro" class="txt" style="display: none;">正在为您推荐开发者...</div>
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
<section class="hero is-info is-light">
  <div class="hero-body">
      <div class="columns">
          <div class="column is-10 is-offset-1">
              <section class="hero landing-left">
                      <div>
                          <h3 class="title has-text-centered ">
                              <p>Make Things Easier!</p>
                          </h3>
                      </div>
              </section>
          </div>
      </div>
  </div>
  </div>
  </section>
    <div class="section">
        <div class="container">
            <li class="box">
                <div class="columns is-centered">
                    <div class="column is-half-desktop is-two-thirds-tablet">
                        <script>
                            var ajaxbg = $("#background, #loading, #intro");
                            function loading() {
                                ajaxbg.show();
                            }
                        </script>
                        <form class="" action="" name="myform" method="post" accept-charset="UTF-8" id="form1" onsubmit="loading()">
                            {% csrf_token %}
{#                            <input name="authenticity_token" type="hidden" value="">#}
                            <p>Release a One2One task or
                                <a class="text-next-to-button" href="/release">a challenge</a>
                            </p>
                            <br>
                            <div class="field is-horizontal">
                                <span style="color:red">*</span>
                                <div class="field-label is-normal">
                                    <label class="label">行业分类</label>
                                </div>
                                <div class="field-body">
                                    <div class="control">
                                        <div class="select" name="technology" id="technology">
                                            <select name="technology">
                                                <option value="预测性维护类">预测性维护类</option>
                                                <option value="通用机械">通用机械类</option>
                                                <option value="航天">航天类</option>
                                                <option value="控制设计">控制设计类</option>
                                                <option value="传动系统">传动系统类</option>
                                                <option value="仿真类">仿真类</option>
                                                <option value="工业app测试">工业app测试</option>
                                                <option value="产品设计类">产品设计类</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <span style="color:red">*</span>
                                <div class="field-label is-normal">
                                    <label class="label">Title</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input" name="title" type="text" placeholder="Give a brief description" value="" id="title" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <span style="color:red">*</span>
                                <div class="field-label is-normal">
                                    <label class="label">Requirment</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <textarea class="textarea" name="requirment" placeholder="Detailed requirments" id="details" rows="10" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Reward</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input" name="award" type="text" placeholder="$" value="0" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">附件上传</label>
                                </div>
                                <div class="field-body">
                                    <div class="file">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="resume">
                                            <span class="file-cta">
                                                <span class="file-label">Choose a file…</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <div class="content is-small">
                                                <span class="gradient-highlight">Please note that all submitted products go through an approval process.</span>
                                            </div>
{#                                            <input class="button is-success" type="submit" value="Submit">#}
                                            <button class="button is-success">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </div>
      </div>
{% endblock %}
